
@model LoginDashboard_MVC_.Detail
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

@using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">
            <label>ID</label>
            @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <label>Name</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <label>Location</label>
            @Html.TextBoxFor(x => x.Location, new { @class = "form-control" })
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <label>Job</label>
            @Html.TextBoxFor(x => x.Job, new { @class = "form-control" })
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <label>BaseLocation</label>
            @Html.TextBoxFor(x => x.BaseLocation, new { @class = "form-control" })
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <label>COE</label>
            @Html.TextBoxFor(x => x.COE, new { @class = "form-control" })
        </div>
    </div>
    <div class="container">
        <div class="form-group">
            <label>EmployeeNumber</label>
            @Html.TextBoxFor(x => x.EmployeeNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-danger">Cancel</button>
    </div>

}